<html>
<head>
  <title>Tampa BarCamp 2013 | Intro to Vagrant</title>
</head>
<body>
  <% @file_names.each do |file_name| %>
    <img src="/random-images/<%= file_name %>" width="100px">
  <% end %>
</body>
</html>